*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscodetest.txt
SuperFlix/src/main/kotlin/com/SuperFlix/Config.kt
*.template.backup
SuperFlix/build/
.gradle/
build/
.DS_Store
